@import "tailwindcss";

:root {
  --background: #fafafa;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-manrope: var(--font-manrope);
  --color-black: #0e0e0e;
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
